<tr>
	<td height="20">报表合计</td>
	<td height="20" colspan="2"><%= @sum_people %>人</td>
	<td><%= @sumMoney["insure_base"] %></td>
	<td></td>
	<%
		@full_year.each do |yearmonth|
	%>
	<td><%= @sumMoney[yearmonth] %></td>		
	<%
		end
	 %>
</tr>
