<div id="perminum_details">
<table width="100%">
<tr>
<td bgcolor="#CDE3FF">
<table  width="100%" class="edit_table" align="center" cellpadding="1" cellspacing="1" >
<tr bgcolor="#FFFFFF">
        <td  height=26>&nbsp;所属公司<font color="red">*</font>:</td>
        <td height=26>&nbsp;
                <%= select(:company , :id , Company.scope_than)%>
                </td>
</tr>
<tr bgcolor="#FFFFFF">
        <td  height=26>&nbsp;姓名:</td>
        <td height=26>&nbsp;<input type="text" name="emp_name" id="empname1" />
</td>
</tr>
 <tr bgcolor="#FFFFFF">
        <td colspan="2" align="center">
                <%= button_to_function "查询" ,"perminum()"%>
                <script type="text/javascript" charset="utf-8">
                        function perminum(){
                              var company = document.getElementById("company_id");
								var empname = document.getElementById("empname1");
                              if (company.value == '') {
                                  alert("所属公司必须选择");
                                  company.focus();
                                  return ;
                              }
                              window.open("/report_perminum_details/submit?company_id="+company.value+"&empName="+empname.value);
                      }
                </script>
        </td>
        </tr>
</table>
</td></tr></table>
</div>
