<div id="querys-grid">
	<form id="qForm">
		<table width="60%" cellspacing="3" cellpadding="3"
			bordercolor="#DEDEDC" border="0" id="q-form" >
			<tr>
				<th width="15%" class="td_left" valign="middle">二级代码:</th>
				<td width="20%"><input type="text" name="c_ccode" id="c_ccode" />
				</td>
				<th width="15%" class="td_left" valign="middle">公司名称:</th>
				<td width="20%"><input type="text" name="q_cname" id="q_cname" />
				</td>
			</tr>
			<tr>
				<th width="15%" class="td_left" valign="middle">代理方式:</th>
				<td><input type="text" name="q_cMethod" id="q_cMethod" />
				</td>
				<th class="td_left" valign="middle">公司性质:</th>
				<td><input type="text" name="q_cType" id="q_cType" />
				</td>
			</tr>
			<tr>
				<th width="10%" class="td_left" valign="middle">组织机构代码:</th>
				<td><input name="q_orgCode" id="q_orgCode" type="text" />
				</td>
				<th class="td_left" valign="middle">联系人:</th>
				<td><input name="q_contact" id="q_contact" type="text" />
				</td>
			</tr>
		</table>
		</form>
</div>
<div id="companies-grid"></div>
<script type="text/javascript" charset="utf-8">
	Ext.onReady(function(){

	    Ext.QuickTips.init();
	     
	    // configure whether filter query is encoded or not (initially)
	    var encode = false;

	    // configure whether filtering is performed locally or remotely (initially)
	    var local = true;
	
	    store = new Ext.data.JsonStore({
	        // store configs
	        autoDestroy: true,
			baseParams: {<%= "#{ request_forgery_protection_token }: '#{ form_authenticity_token }' "%>},
	        url: '/companies/grid.json',
	        remoteSort: false,
	        sortInfo: {
	            field: 'ccode',
	            direction: 'ASC'
	        },
	        storeId: 'myStore',

	        // reader configs
	        idProperty: 'id',
	        root: 'data',
	        totalProperty: 'total',
	        fields: [{
	            name: 'id'
	        }, {
	            name: 'ccode'
	        }, {
	            name: 'ccname'
	        }, {
				name: 'caddress'
			}, {
				name: 'contact'
			},	{
				name: 'job'
			},	{
				name: 'phone'
			},	{
				name: 'telphone'
			}, {
				name: 'fax'
			}, {
				name:'province'
			}, {
				name:'city'
			}, {
				name:'area'
			}, {
				name:'c_method'
			}, {
				name:'org_code'
			}, {
				name:'c_type'
			}, {
				name:'insure_base'
			}, {
				name:'provident_base'
			}]
	    });

	    var filters = new Ext.ux.grid.GridFilters({
	        // encode and local configuration options defined previously for easier reuse
	        encode: encode, // json encode the filter query
	        //local: local,   // defaults to false (remote filtering)
	        filters: [{
	            type: 'string',
	            dataIndex: 'ccode'
	        }, {
	            type: 'numeric',
	            dataIndex: 'ccname',
	            disabled: true
	        }, {
	            type: 'numeric',
	            dataIndex: 'caddress'
	        }, {
	            type: 'date',
	            dataIndex: 'contact'
	        }, {
	            type: 'list',
	            dataIndex: 'size',
	            options: ['small', 'medium', 'large', 'extra large'],
	            phpMode: true
	        }, {
	            type: 'boolean',
	            dataIndex: 'visible'
	        }]
	    });    

	    var columns = [
			//ck , 
			new Ext.grid.RowNumberer(),
			{
				dataIndex: 'ccode',
            	header: '代号',
            	id: 'ccode',
            	filter: {
                	type: 'string'
                // specify disabled to disable the filter menu
                //, disabled: true
            	} , 
				editor : new Ext.form.TextField()
			} , {
				dataIndex:'ccname',
				header:'名称',
				id:'ccname',
				filter:{
					type:"string"
				}	, 
					editor : new Ext.form.TextField()
			} , {
				dataIndex:'caddress',
				header:'地址',
				id:'caddress',
				filter:{
					type:'string'
				}	, 
					editor : new Ext.form.TextField()
			}, {
				dataIndex:'contact',
				header:'联系人',
				id:'contact',
				filter:{
					type:'string'
				}	, 
					editor : new Ext.form.TextField()
			}, {
				dataIndex:'province',
				header:'省',
				id:'province', 
				editor : new Ext.form.TextField()
			},{
				dataIndex:"city",
				header:'城市',
				id:"city", 
				editor : new Ext.form.TextField()
			},{
				dataIndex:'area',
				header:'区域',
				id:'area', 
				editor : new Ext.form.TextField()
			}, {
				dataIndex:'phone',
				header:'电话',
				id:'phone',
				filter:{
					type:'string'
				}	, 
					editor : new Ext.form.TextField()
			} , {
				dataIndex:'telphone',
				header:'手机',
				id:'telphone',
				filter:{
					type:'string'
				}	, 
					editor : new Ext.form.TextField()
			} , {
				dataIndex:'fax',
				header:'传真',
				id:'fax',
				filter:{
					type:'string'
				}	, 
					editor : new Ext.form.TextField()
			} 
		];

	    var grid = new Ext.grid.GridPanel({ //EditorGridPanel({
	        border: false,
	        store: store,
			//clicksToEdit:1 ,
	        colModel: new Ext.grid.ColumnModel({
	            columns: columns ,
	            defaults: {
	                sortable: true
	            }
	        }),
	        loadMask: true,
	        plugins: [filters],
			height:545,
			stripeRows: true,
	       // autoExpandColumn: 'company',
			listeners: {
	            render: {
	                fn: function(){
	                    store.load({
	                        params: {
	                            start: 0,
	                            limit: 20
	                        }
	                    });
	                }
	            }
	        },
	        viewConfig: {  
			                 forceFit: true,  
			                 enableRowBody: true,  
			                 showPreview: true 
			} ,
			bbar: new Ext.PagingToolbar({
	            store: store,
	            pageSize: 20,
	            plugins: [filters],
				displayInfo: true,
				displayMsg: '显示第 {0} 条到 {1} 条记录，共 {2} 条'
	        })  ,
			tbar:[
				{ text: '新增' , iconCls:'add'   ,handler:function(){}},
				{ text: '保存' , iconCls:'edit'  ,handler:function(){}},
				{ text: '删除' , iconCls:'remove',handler:function(){}}
			]
	    });
 
		// add some buttons to bottom toolbar just for demonstration purposes
	    grid.getBottomToolbar().add([
	        '->',
	        {
				text: '清除过滤器',
            	handler: function () {
                	grid.filters.clearFilters();
            	}
			}
			,'-'
		]);

	    var win = new Ext.Panel({
	        items: grid,
			layout:'fit'
			,renderTo :'companies-grid'
	    })
	});
</script>