.ta{
     	FILTER: Alpha( style=1,opacity=100,finishOpacity=0,startX=0,finishX=100,startY=50,finishY=50); BACKGROUND-COLOR: blue
  }
  .mo{
		padding-top:3px;border:1px #333333 solid;FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#c0c0c0,endColorStr=#e5e5e5)
  }
  .mu{
		padding-top:3px;border:1px #333333 solid;background-color:#c0c0c0
  }
	.borderTable {
	     width:90%;
		 text-align:center;
		 font: normal small-caps 400 12px 宋体;
		 border: 1px solid gray;
		 border-collapse:collapse;
	}
	.borderTable td{
		 text-align: center;
		 font-size : 12px;
		 border: 1px solid gray;
		 border-collapse:collapse;
		 bordercolorlight: #000000;
		 bordercolordark: #000000
	}
	.borderTable1 {
	     width:90%;
		 font: normal small-caps 400 12px 宋体;
		 border: 1px solid gray;
		 border-collapse:collapse;
		 margin:1px;
		 padding:1px;
	}
	.borderTable1 td{
		 font-size : 12px;
		 border: 1px solid gray;
		 border-collapse:collapse;
		 bordercolorlight: #000000;
		 bordercolordark: #000000;
		 margin:1px;
		 padding:1px;
	}
	
	.tdStyle {
		font-weight:bold;
	}
	
	