 .tdstyle_lt {
	font-size: 12px;
	color: 004226;	
	border-left-width: 2px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 0px;	
	border-style: solid;
	border-color: #CCCCCC;
}
.tdstyle_mt {
	font-size: 12px;
	color: 004226;	
	border-left-width: 0px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 0px;	
	border-style: solid;
	border-color: #CCCCCC;
}
.tdstyle_rt {
	font-size: 12px;
	color: 004226;	
	border-left-width: 0px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 0px;	
	border-style: solid;
	border-color: #CCCCCC;
}
